RAZORPAY_KEY_ID=rzp_test_SfuNNCyS0WYTWq
RAZORPAY_KEY_SECRET=zDwCnff4ivasSKDviO26ifui

DB_URL=jdbc:postgresql://db.uldhjciqoomeijaocmir.supabase.co:5432/postgres
DB_USER=postgres
DB_PASSWORD=split-payment-engine